
@font-face {
    font-family: 'Muli Black';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Muli/Muli-Black.ttf');
}

@font-face {
    font-family: 'Muli Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Open Sans Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format("truetype");
}

body {
  overflow-x: hidden !important;
  height: 100%;
  margin: 0;
  display: block;
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: inherit;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 42px;
  color: inherit;
}

nav {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
}

nav .container {
  max-width: 1200px;
  margin: 0 auto;
  display: table;
  width: 100%;
  padding: 0 50px;
}

nav .container > div {
  display: table-cell;
  width: 50%;
  height: 70px;
  vertical-align: middle;
}

nav .container a.logo {
  display: inline-block;
  cursor: pointer;
  font-family: 'Muli Black';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  color: black;
}

.lite {
  opacity: 0.3;
}

nav .container a.logo:hover {
  color: inherit;
}

nav .container a {
  transition: 0.3s all 0s ease;
}

nav .container a:hover {
  opacity: 0.7;
}


nav .container .logo img {
  width: 100px;
}

nav .container .links {
  text-align: right;
  font-family: 'Muli Black';
  height: auto;
}

nav .container .links a {
  font-family: 'Muli Black';
  text-transform: uppercase;
  font-size: 22px;
  color: black;
  letter-spacing: 2px;
}

nav .container .links > a {
  margin-right: 30px;
}

nav .container .links > a:last-child {
  margin-right: 0;
}

.projects-div {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.projects-div > .row {
  margin-bottom: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.projects-div .card-container {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.18);
  height: 600px;
}

.card {
  background-color: red;
  height: 600px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.18);
}

.card .label {
  position: absolute;
  padding: 10px 20px;
  color: white;
  bottom: 20px;
  left: 20px;
  font-size: 12px;
  border-radius: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.3);
  background-color: #234ef3;
}

.card .text {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 70px;
  color: white;
  letter-spacing: 1px;
}

.card .text .title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .text .desc {
  font-family: 'Open Sans';
  font-size: 18px;
  opacity: 0.8;
}

.projects-div > div > div > a {
  display: block;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.01);
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01); /* IE 9 */
  transition: 0.3s all 0s ease;
}

.oyan-card {
  background-color: #7028b0;
  background: url(../img/oyan-card.png) bottom center no-repeat;
  background-size: auto 600px;
}

.oyan-card .label {
  background-color: #AD0000;
}

.oyan-card .title img {
  height: 45px;
}

.oyan-card .text .desc {
  color: #323232;
  opacity: 0.7;
}

p.intro {
  line-height: 26px;
}
 p.intro > .link {
  color: #;
  display: inline;
  box-shadow: inset 0 -.125rem 0 #;
  transition: box-shadow .15s ease;
 }

.intro-body .name {
  font-family: 'Muli Black';
  font-size: 42px;
  letter-spacing: 1px;
  color: #234ef3;
}

.intro-body .name .light {
  color: #c7d2f9;
}

.intro-body .subtitle {
  text-transform: uppercase;
  font-family: 'Muli Bold';
  color: #9AB5FF;
  font-size: 18px;
  letter-spacing: 2px;
}

.intro-body .subtitle::after {
  margin: 30px 0;
  content: '';
  width: 50px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.intro-body .intro {
  color: black;
}

.intro-body .intro img {
  margin: -3px 10px;
  height: 30px;
}

.portfolio .header .content {
  display: table;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 50px;
}

.portfolio .header .content > div {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
}

.portfolio .header .content > div:last-child {
  width: 60%;
}

.portfolio .header .title {
  margin-bottom: 30px;
}

.portfolio .header .desc {
  font-size: 18px;
  letter-spacing: 0.5px;
}

.portfolio .header {
  position: relative;
  padding: 0;
}

header > div {
  max-width: 1200px;
  margin: 30px auto;
  display: table;
  padding: 0 50px;
  width: 100%;
}

header > div > div  {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

header .profile-img img {
  float: right;
  border-radius: 50%;
}

.portfolio .header .title img {
  height: 60px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.full-image {
  display: block;
  width: 100%;
}

.full-image img {
  width: 100%;
}

.portfolio .bottom-bg {
  position: absolute;
  background: url(../img/oyan/header-bg.svg) bottom center no-repeat;
  background-size: contain;
  left: 0;
  bottom: -50px;
  width: 101%;
  height: 100%;
}

.portfolio .create-protest .content .bottom-bg1 {
  position: absolute;
  background: url(../img/oyan/bottom-bg1.svg) bottom center no-repeat;
  background-size: contain;
  left: 0;
  bottom: -50px;
  width: 101%;
  height: 100%;
}

.portfolio .concept {
  margin-top: 45px;
  padding-bottom: 1px;
  color: #323232;
  line-height: 30px;
  font-size: 18px;
}
.portfolio .discover {
  margin-top: 0px;
}

.grey-bg {
  display: block;
  background-color: #FAFAFA;
}

.grey-bg2 {
  display: block;
  background-color: #F7F7F7;
  padding: 50px 0 20px 0;
  margin: 0;
}

section > div {
  padding: 0 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio .section-title {
  font-family: 'Muli Black';
  color: #323232;
  font-size: 28px;
  padding-top: 100px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 30px;
}

.portfolio .concept h4 {
  font-family: 'Muli Bold';
  color: #323232;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0.7;
  margin-bottom: 0;
}

.portfolio .concept .row > div:first-child {
  padding-right: 50px;
}

.portfolio .concept .row > div:last-child {
  padding-left: 50px;
}

.portfolio .concept .row > .column {
  padding-left: 15px;
}

.portfolio .concept hr {
  opacity: 0.5;
}

.portfolio .concept .row {
  margin-bottom: 50px;
}

.portfolio .concept p {
  opacity: 0.7;
}

.section-table {
  display: table;
  width: 100%;
}

.section-table > div {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding-right: 25px;
}

.section-table > div:last-child {
  padding-left: 25px;
}

.section-table .gif-image {
  height: 70vh;
  display: initial;
}

.section-table .gif-image img {
  max-height: 70vh;
  margin: auto;
}

.create-protest {
  position: relative;
}

.create-protest .full-image {
  margin-top: -100px;
}

.create-protest .title {
  font-size: 18px;
  color: #323232;
  margin-bottom: 20px;
  font-family: 'Muli Bold';
  text-transform: uppercase;
}

.create-protest .desc {
  font-size: 18px;
  color: #323232;
  opacity: 0.7
}

.create-protest .text {
  padding: 0 50px;
}

.section-title.center {
  text-align: center;
}

.create-protest .content {
  padding-bottom: 0px;
}
.portfolio .map {
  margin-top: 0px;
}

.map .section-desc {
  font-size: 18px;
  color: #323232;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  line-height: 26px;
  padding-bottom: 50px;
}

.map .text .title {
  font-family: 'Open Sans Bold';
  font-size: 28px;
  margin-bottom: 20px;
}

.map .text {
  padding: 0 150px;
}

.map .text p {
  font-size: 18px;
  line-height: 40px;
  color: #323232;
  margin-top: 0;
  margin-bottom: 20px;
}

.map .text p.lead {
  font-family: 'Muli Bold';
  font-size: 18px;
  line-height: 26px;
  color: #323232;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .card-container {
    margin-bottom: 20px;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .projects-div > .row {
    margin-bottom: 0;
  }

  nav .container .logo img {
    width: 100px;
  }

  nav .container .links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  nav .container > div {
    width: 100%;
    display: block;
    text-align: center;
    height: auto;
    margin-bottom: 0;
  }

  nav .container .links {
    text-align: center;
  }

  .projects-div {
    padding: 0 20px;
  }

  nav .container > a.logo {
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }

  nav {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
  }

  nav::after {
    content: '';
    border-bottom: 1px solid black;
    width: 50px;
    margin: 10px auto;
  }

  .portfolio .header {
    padding: 0;
  }

  .portfolio .header .content {
    padding: 0;
  }

  .portfolio .header .content > div {
    display: block;
    width: 100%;
    text-align: center;
  }

  .portfolio .header .content > div:last-child {
    width: 100%;
  }

  .portfolio .header .title img {
  height: 40px;
  }

  .portfolio .bottom-bg {
    display: none;
  }

  .portfolio section {
    padding: 20px;
  }

  .portfolio .concept .row .column {
    width: 100%;
    padding-left: 15px;
  }

  .portfolio .concept .row > div:last-child {
    padding-left: 15px;
  }

  .section-table > div {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .section-table > div:last-child {
    padding-left: 0;
  }

  .create-protest .text {
    padding: 0;
    margin-bottom: 30px;
  }

  .create-protest img {
    margin-bottom: 30px;
  }

  .create-protest .content {
    padding-bottom: 0;
  }

  .create-protest .full-image {
    margin-top: 0px;
  }

  section > div {
  padding: 0 20px;
  }

  .portfolio .section-title {
    padding-top: 0;
    margin-bottom: 10px;
  }

  .map .text {
    padding: 0;
  }

}
